
.classpath
.project

.settings
.idea
target
*.iml
.DS_Store
*~

lists/intermediate.pem
lists/malware-ip-ports.json
lists/malware-urls.json
lists/parentalcontrol-filter.json

lists/squidblacklist.org/ads.bloom
lists/squidblacklist.org/ads.filter
lists/squidblacklist.org/fragfinn.bloom
lists/squidblacklist.org/fragfinn.filter
lists/squidblacklist.org/gambling.bloom
lists/squidblacklist.org/gambling.filter
lists/squidblacklist.org/gaming.bloom
lists/squidblacklist.org/gaming.filter
lists/squidblacklist.org/malware.bloom
lists/squidblacklist.org/malware.filter
lists/squidblacklist.org/misc.bloom
lists/squidblacklist.org/misc.filter
lists/squidblacklist.org/music.bloom
lists/squidblacklist.org/music.filter
lists/squidblacklist.org/piracy.bloom
lists/squidblacklist.org/piracy.filter
lists/squidblacklist.org/porn.bloom
lists/squidblacklist.org/porn.filter
lists/squidblacklist.org/smedia.bloom
lists/squidblacklist.org/smedia.filter
lists/squidblacklist.org/top-level-ads-trackers.bloom
lists/squidblacklist.org/top-level-parental.bloom
lists/squidblacklist.org/trackers.bloom
lists/squidblacklist.org/trackers.filter
lists/squidblacklist.org/video.bloom
lists/squidblacklist.org/video.filter

lists_src/easylist.txt_src
lists_src/easylistgermany.txt_src
lists_src/easyprivacy.txt_src
